@font-face {
  font-family: "Mayfest";
  src: url("../fonts/mayfest.woff2") format("woff2"),
       url("../fonts/mayfest.woff") format("woff"),
       url("../fonts/mayfest.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
