.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Mayfest", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Mayfest", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: lighten(#ffffff, 20%);
  }
}
