<h1>Categories</h1>
<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category_path(category) %>
      <%= link_to "ðŸ—‘ï¸", category_path(category), method: :delete, data: { confirm: "Delete #{category.name}?" }, class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>
<%= link_to "Add a new category", new_category_path, class: "btn btn-primary" %>
